<template>
  <div class="common-layout">
    <el-container>
      <el-aside :width="isCollapse ? '65px' : '200px'">
        <el-menu
          active-text-color="#ffd04b"
          background-color="#545c64"
          default-active="1"
          text-color="#fff"
          class="el-menu-vertical-demo"
          :collapse="isCollapse"
          :collapse-transition="false"
          router
        >
          <el-menu-item index="/index/home">
            <div class="title">
              <h1>米亚建后台</h1>
            </div>
          </el-menu-item>
          <el-menu-item index="/index/home">
            <el-icon><HomeFilled /></el-icon>
            <span>首页</span>
          </el-menu-item>
          <el-sub-menu index="1">
            <template #title>
              <el-icon><UserFilled /></el-icon>

              <span>产品管理</span>
            </template>
            <el-menu-item-group>
              <el-menu-item index="/index/grouping">分组管理</el-menu-item>
              <el-menu-item index="/index/product">产品管理</el-menu-item>
              <el-menu-item index="/index/classify">分类管理</el-menu-item>
              <el-menu-item index="/index/comments">评论管理</el-menu-item>
              <el-menu-item index="/index/specification">规格管理</el-menu-item>
            </el-menu-item-group>
          </el-sub-menu>
          <el-sub-menu index="2">
            <template #title>
              <el-icon><Discount /></el-icon>
              <span>门店管理</span>
            </template>
            <el-menu-item-group>
              <el-menu-item index="/index/announcement">公告管理</el-menu-item>
              <el-menu-item index="/index/HotSearch">热搜管理</el-menu-item>
              <el-menu-item index="/index/slideshow">轮播图管理</el-menu-item>
              <el-menu-item index="/index/freightTemplate"
                >运费模版</el-menu-item
              >
              <el-menu-item index="/index/ToThePoint">自提点管理</el-menu-item>
            </el-menu-item-group>
          </el-sub-menu>
          <el-sub-menu index="3">
            <template #title>
              <el-icon><Medal /></el-icon>
              <span>会员管理</span>
            </template>
            <el-menu-item-group>
              <el-menu-item index="/index/members">会员管理</el-menu-item>
            </el-menu-item-group>
          </el-sub-menu>
          <el-sub-menu index="4">
            <template #title>
              <el-icon><Tickets /></el-icon>
              <span>订单管理</span>
            </template>
            <el-menu-item-group>
              <el-menu-item index="/index/TheOrder">订单管理</el-menu-item>
            </el-menu-item-group>
          </el-sub-menu>
          <el-sub-menu index="5">
            <template #title>
              <el-icon><Setting /></el-icon>
              <span>系统管理</span>
            </template>
            <el-menu-item-group>
              <el-menu-item index="/index/address">地址管理</el-menu-item>
              <el-menu-item index="/index/administrator"
                >管理员列表</el-menu-item
              >
              <el-menu-item index="/index/role">角色管理</el-menu-item>
              <el-menu-item index="/index/menu">菜单管理</el-menu-item>
              <el-menu-item index="/index/TimingTask">定时任务</el-menu-item>
              <el-menu-item index="/index/parameter">参数管理</el-menu-item>
              <el-menu-item index="/index/TheSystemLog">系统日志</el-menu-item>
            </el-menu-item-group>
          </el-sub-menu>
        </el-menu>
      </el-aside>
      <el-container>
        <!-- 头部 -->
        <el-header>
          <div class="header">
            <div class="left">
              <el-icon @click="toggleCollapse"><Fold /></el-icon>
            </div>
            <div class="right">
              <span>admin</span>
            </div>
          </div>
        </el-header>
        <el-main> <router-view /></el-main>
      </el-container>
    </el-container>
  </div>
</template>
<script setup lang="ts">
import { ref } from 'vue';
import {
  HomeFilled,
  Medal,
  Setting,
  UserFilled,
  Discount,
  Tickets,
  Fold,
} from '@element-plus/icons-vue';
const isCollapse = ref(true);
const toggleCollapse = () => {
  isCollapse.value = !isCollapse.value;
};
</script>
<style scoped>
.el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 200px;
  min-height: 400px;
}
.common-layout {
  width: 100%;
  height: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
}
.el-main {
  background: #ccc;
}
.title {
  width: 100%;
  font-size: 20px;
  height: 50px;
  color: #fff;
  line-height: 50px;
  text-align: center;
  background: #35b4ed;
}
</style>
